@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto.woff2");
  src: url("../fonts/roboto.woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/robotomedium.woff2");
  src: url("../fonts/robotomedium.woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/robotobold.woff2");
  src: url("../fonts/robotobold.woff");
  font-style: normal;
  font-weight: 700; }

* {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', Arial, SansSerif; }

.main-header {
  width: 1200px;
  padding: 50px 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000; }

.main-logo-link img:hover {
  opacity: 0.8; }

.main-logo-link img:active {
  opacity: 0.3; }

.main-header__nav {
  display: flex;
  min-width: 800px;
  justify-content: space-between; }

.header-nav-list {
  display: flex;
  align-items: stretch; }
  .header-nav-list li {
    align-self: center;
    margin-left: 45px; }
    .header-nav-list li a {
      color: inherit; }

.user-menu {
  display: flex;
  align-items: stretch; }

.user-menu-cart {
  position: relative;
  align-self: center; }
  .user-menu-cart::before {
    content: '';
    background-image: url("../img/cart-icon.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: -28px; }
  .user-menu-cart button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none; }

.header-state:hover {
  color: #fb565a; }

.header-state:active, .header-state:focus {
  color: #000;
  opacity: 0.3; }

.header-state--active {
  border-bottom: 2px solid #fb565a; }
