@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto.woff2");
  src: url("../fonts/roboto.woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/robotomedium.woff2");
  src: url("../fonts/robotomedium.woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/robotobold.woff2");
  src: url("../fonts/robotobold.woff");
  font-style: normal;
  font-weight: 700; }

* {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.btn-common-style {
  font-family: 'roboto', Arial, SansSerif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px; }

body {
  font-family: 'Roboto', Arial, SansSerif; }

.main-header {
  background-color: #eeeeee; }

.header-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 20px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000; }

.main-logo-link img:hover {
  opacity: 0.8; }

.main-logo-link img:active {
  opacity: 0.3; }

.main-header__nav {
  display: flex;
  min-width: 800px;
  justify-content: space-between; }

.header-nav-list {
  display: flex;
  align-items: stretch; }
  .header-nav-list li {
    align-self: center;
    margin-left: 45px; }
    .header-nav-list li a {
      color: inherit; }

.user-menu {
  display: flex;
  align-items: stretch; }

.user-menu-cart {
  position: relative;
  align-self: center; }
  .user-menu-cart::before {
    content: '';
    background-image: url("../img/cart-icon.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: -28px; }
  .user-menu-cart button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none; }

.header-state:hover {
  color: #fb565a; }

.header-state:active, .header-state:focus {
  color: #000;
  opacity: 0.3; }

.header-state--active {
  border-bottom: 2px solid #fb565a; }

.sliders-wrapper {
  background-color: #eeeeee; }

.sliders {
  width: 1200px;
  padding: 67px 20px 79px;
  margin: 0 auto; }

.slider1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 80px;
  background-size: contain; }
  .slider1 .slider__desc {
    width: 380px; }
  .slider1 .slider__desc-title {
    width: 350px; }

.slider1-img {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 698px;
  height: 413px;
  background: url(../img/slide1.png) no-repeat center; }

.slider__desc-slogan {
  margin: 0;
  font-family: 'Roboto', Arial, SansSerif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px; }

.slider__desc-title {
  margin: 0;
  margin-top: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.slider__desc-link {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 55px;
  color: #fff;
  background-color: #fb565a; }
  .slider__desc-link:hover, .slider__desc-link:focus {
    background-color: #e74246;
    outline: none; }
  .slider__desc-link:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1); }

.slider2 {
  display: none;
  background: url(../img/slide2.png) no-repeat 93% center;
  background-size: contain; }
  .slider2 .slider__desc {
    width: 580px; }
  .slider2 .slider__desc-title {
    width: 410px; }

.slider3 {
  display: none;
  background: url(../img/slide3.png) no-repeat top right; }
  .slider3 .slider__desc {
    width: 410px; }
  .slider3 .slider__desc-title {
    width: 370px; }
